<div>
  <h2>About Me</h2>
  <h3> Intro</h3>
  <p>Hi.  I'm Scot.  I've been interested in computers since I was a youngster.  I built my first computer in seventh grade and started tinkering around with Linux in tenth grade.  I continued this interest into college and got experience with many different sides of computers.  I graduated from Berkeley with a computer science degree, which gave me a great background for how computers work and how to design reliable, modular, maintainable software and systems.  I have spent many years working in industry and this has given me lots of experience with real world problems as well as experience with a lot of different software.  Check out my <a href="#">services</a> page for a list of software I've used.  Now I've become an independent contractor which has taught me how to manage myself.  I have to be organized, manage my time efficiently and keep myself productive, even when there is no one to impress except myself.</p>
  <h3> Education</h3>
  <table class="table">
    <thead><tr>
      <th>School</th>
      <th>Degree</th>
      <th>When</th>
    </tr></thead><tr>
      <td>UC Berkeley</td>
      <td>EECS (electrical engineering and computer science)<br /> with emphasis on Computer Science</td>
      <td>2008-2010</td>
    </tr><tr>
      <td>Cal Poly Pomona</td>
      <td>Course work in Computer Science</td>
      <td>2004-2006</td>
    </tr>
  </table>
  <h3> Experience</h3>
  <h4>Contractor for GoPro <small>April 2015 - December 2015</small></h4>
  <h5>DevOps Engineer</h5>
  <p>GoPro had a team of about six devops engineers when I joined.  They were using a combination of Ansible, EC2, Docker, Grafana, and <a href="http://nerds.airbnb.com/smartstack-service-discovery-cloud/">Smart Stack</a>.  One of my larger projects was the removal of Smart Stack, which was being used for services discovery, from all of their environments.  This was a very sensitive project as Smart Stack was a central part of their infrastructure, I moved them to a much simpler ELB (elastic load balancer) solution.  When we rolled this out in production we had absolutly zero issues, so it was a great success.  I also helped them automate creating a VPC and infrastructure for a new environment, using <a href="https://aws.amazon.com/cloudformation/">Cloud Formation</a>.</p>

  <h4>Clean Power Finance <small>December 2013 - January 2015</small></h4>
  <h5>DevOps Engineer</h5>
  <p>I had to pick up the current infrastructure quickly and be able to support it as the only devops engineer within 2 months.  Working on cloud instances in RackSpace, I supported a PHP application with Percona Mysql and MongoDB.  All server configuration was in Chef.  Working with many tools that I had already experienced to monitor servers and manage logs, and adding Sensu, Gluster, and Capistrano.  I setup an environment in AWS for them to migrate to, but sadly I did not get to see it completed. </p>

  <h4>Locus Energy <small>January 2012 - June 2013</small></h4>
  <h5>Unix Sysadmin</h5>
  <p>I was hired on as the first sysadmin for Locus Energy.  I brought the systems from being in a completely unmanaged and unmonitored state of about 20 servers, to a managed and monitored state of over 80 servers by implementing the following: Hostname/DNS, Puppet, Ganglia, Nagios, backups with Rsync and scripting creation of servers through the ec2 api.  I put together an open source consolidated logging system with Rsyslog, Logstash, Elastic Search, Graphite and Graylog2.  I also managed some of their existing infrastructure including Mysql, Vertica, Glassfish, Nginx and Haproxy.   Since I had no mentor, this job forced me to learn everything from scratch.  This job helped me hone my ability to build out, maintain, and monitor Linux systems.</p>

  <h4>UC Berkeley, Student Housing <small>May 2009 - June 2010</small></h4>
  <h5>Unix Systems Administrator</h5>
  <p>I worked with a team of 8 students and 2 experts, to maintain and improve the network that all dorms used.  Over 7000 students used our network. Uptime and reliability were very important.  I worked with Free-BSD, RHEL, Bash scripting, python, and configuring many services.  Also I learned how to manage the physical hardware in a server room.  This job gave me a great introduction to unix sysadmining as a whole.</p>

  <h3> Hobbies</h3>
  <p> When I'm not sitting behind the computer working on one of my side projects or for one of my clients, you can usually find me outside.  I love getting out into the open either by hiking, biking or sailing.  Exploring our world intrigues me.  I also enjoy working on mechanical things such as bikes, cars and boats.  And then there is drumming, juggling and studying language, which I enjoy doing when I can.</p>
  <h3> Goals</h3>
  <p>My goal, at least right now, is balance.  The balance between work and play, between stress and calm, between productivity and laziness, between exploration and routine, between wealth and poverty.  This is also what I seek in my job.  I would like to enjoy what I do.  I would like to feel productive.  I would like to explore new ways of using computers and how people interact with them.  But I also think there is more to life than work.  There is a whole world of experiences out there.</p>
  <p>In reality this would translate to finding a job with enough flexibility to allow me to spend time outside of work exploring.  I would love to find a job with traveling involved or just work in another country.</p>
</div>
