<div>
  <h2>Projects</h2>
  <p> Feel free to check out my <a href="https://github.com/awesomescot">github profile</a>.
  <h3>Projects I've started</h3>
    <h4><a href="https://github.com/awesomescot/cronmon">cronmon</a></h4>
    <p>This is designed to monitor cron jobs and collect info from them.  In my career I've been in the situation where I have dozens of cronjobs running on a box and developers are always asking me, "Did this cronjob finish?", "Can I see the logs from this cronjob?", "When is this cronjob scheduled next?".  So eventually I thought, why not just make that information available to them easily.</p>
    <p>This is designed to be a wrapper around a cronjob.  It will collect stderr, stdout, return code, and run time.  Currently it puts this info into a local redis instance and there is a web frontend to view all the data.  But I think it might be a good idea to just send this data to your logging infrastructure.  Then you can just search for it there.  This is writen in Ruby.</p>
    <h4><a href="https://github.com/awesomescot/cronmon-chef">cronmon-chef</a></h4>
    <p>This is a chef recipe to install and configure cronmon</p>
    <h4><a href="https://github.com/awesomescot/mysql-enc">mysql-enc</a></h4>
    <p>This is a puppet ENC (external node classifier) that uses mysql.  It is a basic implementation of a ENC that just gets the environment and classes for a node.  It's writen in Ruby.</p>
    <h4><a href="https://github.com/awesomescot/website">website</a></h4>
    <p>This is the repo for this very website you are looking at right now.  Even though this is just a static site, I decided I wanted to get a little experience with some of the javascript frameworks out there.  This site is built using backbone.js, require.js, and bootstrap.</p>
  <h3>Projects I've contributed to</h3>
    <h4><a href="https://github.com/ganglia/chef-ganglia">chef-ganglia</a></h4>
    <p>Fixed a bug with the init script in ubuntu 14.04</p>
    <h4><a href="https://github.com/appneta/chef-traceview">chef-traceview</a></h4>
    <p>Added a name field so that it works correctly with Berkshelf</p>
</div>